.App {
  box-sizing: content-box;
  box-shadow: 7;
  background: linear-gradient(gray, darkgreen);
  max-width: 400px;
  min-height: 80vh;
  margin: auto;
  border-radius: 10px;
  border: solid 30px;
  border: darkred dotted 9px;
}

ul {
  flex-direction: column;
  background: linear-gradient(darkgreen, darkred);
  margin: 1.5rem 1;
  padding: 5px;
}

li {
  justify-content: space-between;
  background: rgb(16, 59, 16);
  margin: 10px;
  padding: 5px;
}

button {
  border: 1.5px solid darkred;
  border-radius: 60px;
}

span {
  color: white;
}

.TodoList {
  background: whitesmoke;
  margin: 0.5rem 0;
  padding: 5px;
  display: flex;
  align-items: flex-end;
}

.done {
  text-decoration: line-through;
  color: hotpink;
}

footer {
  display: grid;
}

.input-wrapper {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  background: #f2f1ec;
}

.InputBox {
  display: flex;
  justify-content: center;
  margin: 30px;
}

input {
  height: 30px;
  width: 300px;
  border: darkred;
  font-size: 30px rgb(31, 4, 18);
  outline: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 30px rgba(223, 11, 71, 0.4);
}
