.App {
  box-sizing: content-box;
  box-shadow: 7;
  background: grey;
  max-width: 400px;
  min-height: 80vh;
  margin: auto;
  border-radius: 10px;
  border: solid 30px;
  border-color: black;
}

ul {
  display: flex;
  flex-direction: column;
  background: darkgray;
  margin: 1.5rem 1;
  padding: 5px;
  display: flex;
}

li {
  display: flex;
  justify-content: space-between;
  background: olivedrab;
  margin: 10px;
  padding: 5px;
}

button {
  border: 3px solid lightgreen;
}

span {
  color: white;
  border: 2px solid forestgreen;
}

.TodoList {
  background: whitesmoke;
  margin: 0.5rem 0;
  padding: 5px;
  display: flex;
  align-items: flex-end;
}

.done {
  text-decoration: line-through;
  color: deeppink;
}

footer {
  display: grid;
}

.input-wrapper {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  background: #f2f1ec;
}

.Input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 30px;
  width: 300px;
  border: 2px dotted red;
  font-size: 14px;
  outline: none;
}
