.header {
  background-image: linear-gradient(#ff89c9, deeppink);
  color: #fefefe;
  font-size: 30px;
  padding: 80px 0 10px 30px;
}

h1 {
  margin: 0;
  color: white;
}

div {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: bold;
  font-size: 20px;
  background: forestgreen;
}
